/* Center the container vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://i.ibb.co/MMb7HFw/background.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Styles for the container */
.container {
    text-align: center;
}
a{
text-decoration: none;
color: black;
}
/* Styles for the buttons */
.button {
    background-color: #dba81a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    transition: box-shadow 0.3s; /* Smooth transition for the box-shadow property */
}

/* Shadow effect on hover for buttons */
.button:hover {
    background-color: #dab617;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow on hover */
}
